<div class="container mx-auto mt-10">
    <div class="wrapper bg-white rounded w-full overflow-auto">
      <div class="header flex justify-between border-b p-2 w-full">
        <span class="text-lg font-bold">
          {{currentYear}} {{currentMonth}}
        </span>
        <div class="buttons">
          <button class="p-1" (click)="prevMonth()">
            <svg width="1em" fill="gray" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
            </svg>
          </button>
          <button class="p-1" (click)="nextMonth()">
            <svg width="1em" fill="gray" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path fill-rule="evenodd" d="M7.646 11.354a.5.5 0 0 1 0-.708L10.293 8 7.646 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0z"/>
              <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="calendar overflow-auto">
        <table class="w-full table-fixed">
          <thead>
            <tr>
              <th *ngFor="let day of daysOfWeek" class="p-2 border-r h-10 w-1/7 text-center text-sm">
                <span>{{ day }}</span>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="isDataAvailable">
            <tr class="text-center h-20" *ngFor="let week of calendar">
              <td *ngFor="let day of week" class="border p-1 h-auto w-1/7 overflow-auto transition cursor-pointer duration-500 ease hover:bg-gray-300">
                <div class="flex flex-col h-auto mx-auto w-full overflow-hidden">
                  <div class="top h-5 w-full">
                    <span class="text-gray-500">{{ day }}</span>
                  </div>
                  <div *ngFor="let appointment of appointmentsArray">
                    <div *ngIf="(appointment.day == day)" class="bottom flex-grow h-30 py-1 w-full cursor-pointer">
                      <div>
                        <div [ngClass]="appointment.category == 'Work'? 'bg-blue-700' : appointment.category == 'Birthday' ? 'bg-lime-500': appointment.category == 'Private'? 'bg-slate-400' : 'bg-cyan-500'" class="event text-white rounded p-1 text-sm mb-1">
                          <span class="event-name">
                            {{ appointment.name }}
                          </span>
                          <br>
                          <div *ngIf="appointment.startDate !== '' && appointment.endDate !== ''">
                            <span class="time">
                              {{ appointment.startDate }} ~ {{ appointment.endDate }}
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>  
  </div>