<div *ngFor="let appointment of appointments"  class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl m-5">
  <div class="p-8 flex items-center">
      <div class="pr-4">
      <img class="text-4xl font-bold" src="../../../assets/images/icons8-termin-64.png" />
      </div>
      <div>
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ appointment.name }}</div>
      <p class="mt-2 text-gray-500 text-sm">{{ appointment.startDate }} - {{ appointment.endDate }}</p>
      <p class="mt-2 text-gray-500">{{ appointment.description }}</p>
      </div>
  </div>
  <div class="warning-container" *ngIf="warning" style="margin-top: 10px;">
      <div class="warning-message">
          {{ warningMessage }}
      </div>
      <br>
    </div>
</div>